/* Universal Design */
* {
    font-family: Agbalumo;
}


/* Body Design */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #28587B;

}


/* Search Bar */
.input-field {
    display: flex;
    flex-direction: column;
    text-align: center;
}
/* Search Bar Text */
h1 {
    font-size: 50px;
    color: #9FB4C7;
    text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}
/* Search Bar Input Field */
#gif-search {
    background-color: #F7ECE1;
    border-radius: 10px;
    text-align: center;
    color: #9FB798;
    font-size: 20px;
}

/* Output Field */
.output-field {
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);

}
/* GIFS Style*/
img {
    height: 250px;
    width: 250px;
    margin: 5px;
    border-radius: 25px;
    border: solid white 1px
}